<div class="appearance">
  <div
    class="item"
    *ngFor="let item of items; let i = index"
    (click)="toggleAppearance(i)"
  >
    <div class="header">{{ item.header }}</div>
    <div class="content-of-appearance" [class.expanded]="selectedIndex === i">
      <p *ngIf="!item.type" class="content">{{ item.content }}</p>
      <a
        *ngIf="item.type === 'link'"
        href="{{ item.content }}"
        target="_blank"
        class="content"
        >{{ item.content }}</a
      >
    </div>
  </div>
</div>